# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
build/
dist/

# Configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Windows
Thumbs.db
